
extends ../inc/layout

block content
  .guide

    .sections

      .section.colors
        .title Colors
        each color, name in data.colors
          .color(class='color_'+name) #{name} (#{color})

      .section.fonts
        .title Fonts
        each font, name in data.fonts
          .font(class='font_' + name) #{name}: #{font}
 
