.guide {
  padding: 20px 0 0 0;
}
.guide > .sections {
  padding: 20px;
}
.guide > .sections > .section {
  width: 33%;
  float: left;
}
.guide > .sections > .section > .title {
  font: 25px Tahoma;
  padding: 0 0 0 10px;
}
.guide > .sections > .section > .color {
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
}
.guide > .sections > .section > .color.color_blue1 {
  background-color: #0195ff;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue2 {
  background-color: #2cbee6;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue3 {
  background-color: #434965;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_blue4 {
  background-color: #7582b1;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue5 {
  background-color: #a9ded4;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue6 {
  background-color: #949dae;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue7 {
  background-color: #acb2c1;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_black1 {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_black2 {
  background-color: #22252b;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_black3 {
  background-color: #444;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_black4 {
  background-color: #363a42;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_white1 {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_white2 {
  background-color: #e9eaec;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_white3 {
  background-color: #f0f0f0;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_red1 {
  background-color: #ee5655;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_red2 {
  background-color: #f03;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_red3 {
  background-color: #f1455b;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_red4 {
  background-color: #ff2e2e;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_green1 {
  background-color: #76d734;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_green2 {
  background-color: #74bd44;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_green3 {
  background-color: #3bb62e;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_orange1 {
  background-color: #f4ab8b;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_orange2 {
  background-color: #ec8000;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_pink1 {
  background-color: #f467b2;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_yellow1 {
  background-color: #f8e71d;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_brown1 {
  background-color: #9b908a;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .font {
  padding: 10px 20px;
  background-color: #fff;
  overflow-x: scroll;
}
.guide > .sections > .section > .font.font_copy {
  font: 16px Tahoma;
}
.guide > .sections > .section > .font.font_h1 {
  font: 40px Tahoma;
}
.guide > .sections > .section > .font.font_h2 {
  font: 30px Tahoma;
}
.guide > .sections > .section > .font.font_h3 {
  font: 25px Tahoma;
}
.dbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #e5e5e6;
}
.dbar.off {
  transform: translate(0, -20px);
  transition: transform 0.2s linear 0.5s;
}
.dbar.on {
  transform: translate(0, 0px);
  transition: transform 0.5s linear 0s;
}
.dbar > .inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.dbar > .inner > .gradient {
  position: absolute;
  background: linear-gradient(90deg, #e5e5e6, rgba(255,255,255,0.5));
  width: 100%;
  height: 100%;
  animation: loader-gradient 2s 0s ease-in-out infinite;
}
.dbar > .inner > .full {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4486fd;
  transition: width 0.2s ease-in-out;
}
@-moz-keyframes loader-gradient {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes loader-gradient {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes loader-gradient {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes loader-gradient {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
body {
<<<<<<< HEAD
  background-color: #fff;
=======
  background-color: #e9eaec;
>>>>>>> f34a43fb4e2027505a734c612ee96c2d62de5cbc
  font: 16px Tahoma;
  color: #000;
}
header {
  padding: 20px;
}
header > .title {
  text-align: center;
  font: 40px Tahoma;
  padding: 20px 0 10px 0;
  color: #949dae;
}
header > .description {
  text-align: center;
  font: 25px Tahoma;
  color: #acb2c1;
}

