
@import guide

body
  background-color: c.white1
  font-family Tahoma
  font-size 20px


header
  padding 20px 
  > .title
    text-align center
    font-size 40px
  > .description
    text-align center
    font-size 30px
