
@import guide
@import dbar

body
  background-color: c.white1
  font: f.copy
  color: c.black1
  font-weight 300

header
  padding 20px 
  > .title
    text-align center
    font: f.h1
    font-weight 700
    padding 20px 0 10px 0
    color: c.blue3
  > .description
    text-align center
    font: f.h3
    color: c.black3

.main
  > .command
    width 460px
    background-color: c.white2
    padding 10px 15px
    margin 10px auto
    transition background-color 0.1s linear
    &:hover
      cursor pointer
      background-color: c.blue3
      color: c.white1
    span
      color: c.blue6
