
extends inc/layout

block content

  header
    .title dbar
    .description=data.config.meta.description

  .main

    .command(data-js='dbar.i()') dbar.<span>i()</span> - initiate the progress bar
    .command(data-js='dbar.perc(0.25)') dbar.<span>perc(0.25)</span> - set the progress to 25%
    .command(data-js='dbar.perc(0.5)') dbar.<span>perc(0.5)</span> - set the progress to 50%
    .command(data-js='dbar.perc(0.75)') dbar.<span>perc(0.75)</span> - set the progress to 75%
    .command(data-js='dbar.d()') dbar.<span>d()</span> - complete and remove the progress bar

    .command(data-js='dbar.set({barColor: \''+data.colors.red1+'\'})') dbar.<span>set({barColor: #{data.colors.red1})</span> - set the bar color
    .command(data-js='dbar.set({barColor: \''+data.colors.green1+'\'})') dbar.<span>set({barColor: #{data.colors.green1})</span> - set the bar color
    .command(data-js='dbar.set({gradientColor: \''+data.colors.green1+'\'})') dbar.<span>set({gradientColor: #{data.colors.green1})</span> - set the gradient color

  include dbar
  script(type='text/javascript').
    Index.i()
